<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/icons/title/Pogglebar_Favicon.png" />
    <title>Pogglebar</title>
    <link rel="stylesheet" href="../static/css/collectionCSS/style.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/xp.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/pfp.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/crate.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/inventory.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/wish.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/shop.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/settings.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/tooltip.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/banner.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/binder.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/perkB.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/gamemodes.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/teamSelect.css">
</head>

<body>
    <!--Wish Container-->
    <div id="customConfirm" style="display:none;">
        <div class="confirm-content">
            <p id="confirmMessage"></p>
            <button class="confirmbtn" id="customConfirmYes">Yes</button>
            <button class="confirmbtn" id="customConfirmNo">No</button>
        </div>
    </div>
    <!--Team Select-->
    <%- include("collectionEJS/teamSelect.ejs") %>
    <!--Shop-->
    <%- include("collectionEJS/shop.ejs") %>
    <!--Binder-->
    <%- include("collectionEJS/binder.ejs") %>
    <!--Perks-->
    <div id="perkBanner" style="display:none;">
        <div class="perkCont">
            <div class="overlayBan">
                <h1 style="font-size: 60px; margin-top: -10px; margin-bottom: 0px;">Perks</h1>
                <!--you can reference this center when you need to center something-->
                <div class="center">
                    <button class="closeOv" id="closePerks">X</button>
                </div>
            </div>
            <div id="perkCards"></div>
        </div>
    </div>
    <!--Profile Pic Container-->
    <div id="pfpChanger" style="display: none;">
        <div id="toppfp">
            <h2><%= userdata.displayName %></h2>
            <button id="logout">Log Out</button>
        </div>
        <h3 style="margin-top: -15px; font-weight: normal;">Choose your Profile Preferences</h3>
        <div style="display: flex; gap: 20px;">
            <img id="bigpfp" width="100" height="100" src="static/icons/pfp/defaultpfp.png" />
            <input id="picker" type="color">
        </div>
        <p id="fileSizeMessage"></p>
        <input id="filepfp" type="file" accept="image/*" />
        <button id="closePfpChanger">Close</button>
    </div>
    <!--Gamemodes-->
    <%- include("collectionEJS/gamemodes.ejs") %>
    <div id="collectBanner">
        <div class="leftstuff">
            <div id="titlecont">
                <button id="play_btn">Poggle!
                    <img src="../static/icons/buttons_main/play.png" width="15" height="15">
                </button>
                
            </div>
            <div style="display: none" id="userdata">
                <%- JSON.stringify(userdata) %>
            </div>
            <div style="display: none" id="maxPogs">
                <%- JSON.stringify(maxPogs) %>
            </div>
            <div style="display: none" id="pogList">
                <%- JSON.stringify(pogList) %>
            </div>
        </div>
        <!--Banner Buttons-->
        <div style="right: 0; top: 0;" class="rightstuff">
            <button id="useWish">Wish (0/7)</button>
            <img src="../static/icons/buttons_main/lines.png" width="40" height="40" id="burger_btn" class="imgbtn">
        </div>
    </div>
    <%- include("collectionEJS/banner_rightstuff.ejs") %>
    <div id="centerlayout" style="text-align: center;">
        <!--Description-->
        <div id="descPanel">
            <span></span>
        </div>
        <div id="invcont">
            <div id="topCont">
                <div id="space">0/10</div>
                <button id="sellAll">Sell All</button>
            </div>
            <div id="inventory"></div>
        </div>
        <!--Settings and Crate-->
        <%- include("collectionEJS/info_right.ejs") %>
    </div>
    <!-- Gacha Animation Overlay -->
    <%- include("collectionEJS/gacha.ejs") %>

</body>
<!--updateinventory.js and searchsort.js and viewDesc.js must always come first in the js lineup-->
<script src="../static/js/collectionJS/searchsort.js"></script>
<script src="../static/js/collectionJS/updateinventory.js"></script>
<!--crates, shop, combo, lightmode, sellitem, declarations next-->
<!--declarations tackles things like: 
    1. variable definition
    2. loose functions
    3. calling functions:
        i. locking items
        ii. number abbreviation
    declarations uses userData to define global parameters-->
<script src="../static/js/crates.js"></script>
<script src="../static/js/collectionJS/saving.js"></script>
<script src="../static/js/collectionJS/combo.js"></script>
<script src="../static/js/collectionJS/sellitem.js"></script>
<script src="../static/js/collectionJS/declarations.js"></script>
<!--as long as they aren't dependent on each other, there is no needed order-->
<script src="../static/js/collectionJS/levelup.js"></script>
<script src="../static/js/collectionJS/income.js"></script>
<script src="../static/js/collectionJS/merge.js"></script>
<script src="../static/js/collectionJS/viewDesc.js"></script>
<script src="../static/js/collectionJS/sellall.js"></script>
<script src="../static/js/collectionJS/crateopen.js"></script>
<script src="../static/js/collectionJS/shopint.js"></script>
<script src="../static/js/collectionJS/binderint.js"></script>
<script src="../static/js/collectionJS/panelint.js"></script>
<script src="../static/js/collectionJS/wish.js"></script>
<script src="../static/js/collectionJS/pfp.js"></script>
<script src="../static/js/collectionJS/teamSelect.js"></script>
<!--don't put anything here-->
<script src="../static/js/achievements.js"></script>
<!--tickupdate is last-->
<script src="../static/js/collectionJS/tickupdate.js"></script>
<!--save filter-->
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const mySel = document.getElementById("selectSort");
        const storageKey = "defaultValue";

        // 1. Load saved value on page load
        const savedValue = localStorage.getItem(storageKey);
        if (savedValue) {
            mySel.value = savedValue;
        }

        // 2. Save value when the selection changes
        mySel.addEventListener("change", function () {
            localStorage.setItem(storageKey, this.value);
        });
    });
</script>

</html>