<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/icons/title/Pogglebar_Favicon.png" />
    <title>Pogipedia</title>
    <link rel="stylesheet" href="../static/css/pogipedia.css">
</head>

<body>
    <div id="leadBanner">
        <div class="leftstuff">
            <div style="display: none" id="userdata">
                <%= JSON.stringify(userdata) %>
            </div>
            <div style="display: none" id="scores">
                <%= JSON.stringify(pogList) %>
            </div>
            <h1 style="margin-left: 10px;">Pogipedia</h1>
            </h4>
            <div style="display: none" id="maxPogs">
                <%= JSON.stringify(maxPogs) %>
            </div>
        </div>
        <div class="rightstuff">
            <a href="/collection" id="circleButton">
                < </a>
        </div>
    </div>
    <br>
    <div id="flexcont">
    <table class="board" style="width: 90%; border-collapse: collapse; color: white;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Serial</th>
                <th>Name</th>
                <th>Color</th>
                <th>Lore</th>
                <th>Rarity</th>
                <th>Type</th>
                <th>Creator</th>
            </tr>
        </thead>
        <tbody>
            <% pogList.forEach((pog, index)=> { %>
                <tr class="infobtn" data-index="<%= index %>">
                    <td style="padding: 8px; text-align: center;">
                        <%= pog.id %>
                    </td>
                    <td style="padding: 8px; text-align: center;">
                        <%= pog.code %>
                    </td>
                    <td style="padding: 8px; text-align: center;">
                        <%= pog.name %>
                    </td>
                    <td style="padding: 8px; text-align: center;">
                        <%= pog.color %>
                    </td>
                    <td style="padding: 8px; text-align: center;">
                        <%= pog.description %>
                    </td>
                    <td style="padding: 8px; text-align: center;">
                        <%= pog.rarity %>
                    </td>
                    <td style="padding: 8px; text-align: center;">
                        <%= pog.type %>
                    </td>
                    <td style="padding: 8px; text-align: center;">
                        <%= pog.creator %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    </div>
</body>
<script src="../static/js/leaderboard.js"></script>